---
const links = [
  { name: "List", href: "/" },
  { name: "Paginated", href: "/pokemons/1" },
  { name: "Favorites", href: "/favorites" },
  { name: "Islands", href: "/islands" },
  { name: "Demo", href: "/demo" },
];

const currentPath = Astro.url.pathname;
---

<nav class="shadow bg-slate-900">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
  >
    {
      links.map(({ href, name }) => (
        <div>
          <a
            class="text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6"
            href={href}
          >
            {name}
          </a>
          {currentPath === href ? (
            <div
              transition:name="menu-bard"
              class="border-b-2 border-blue-500 mx-4"
            />
          ) : (
            <div class="border-b-2 border-transparent mx-4" />
          )}
        </div>
      ))
    }
  </div>
</nav>
