---
import MainLayout from "../components/layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<h1>Home Page</h1>

	<p>Build date: {new Date().toLocaleTimeString()}</p>
	<p id="current-time">Actual date: --:--:--</p>

	<script>
		const actualDate = document.querySelector("#current-time") as HTMLElement;
		setInterval(() => {
			actualDate.textContent = `Actual date: ${new Date().toLocaleTimeString()}`;
		}, 1000);
	</script>
</MainLayout>
