---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Favorites" description="Your favorite Pokémon">
  <Title>Pokemon List</Title>
</MainLayout>
